doctype html
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/script.js')
    title From: Test #{container}
  body
    #wrapper
      #header
        #header-left
          h1=title
          h2 From Container #{container}
        #header-right
          img(src="/images/whale_up.png", width="200px")
      #main
        - var keys = secrets.length
        if keys > 0
          #secrets Secrets in this Container:
            each item in secrets
              ul
                li
                  a(href='#{item.name}').secrets #{item.id}
        #menu
          ul.menu
            li
              a(href="#health").health Get Health
            li
              a(href="#kill").kill Kill Container
        #action
          #ul.action
            li#status
